<!-- Font Icon -->
<link rel="stylesheet" href="~/assets/fonts/material-icon/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/assets/signcss/style.css">

<!-- Template Main CSS File -->
<link href="assets/css/main.css" rel="stylesheet">


<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Kayıt Ol</h2>
                    <form method="POST" asp-action="SignUp" asp-controller="Sign" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="Name" placeholder="Adınız" />
                        </div>
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="Surname" placeholder="Soyadınız" />
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="Email" id="email" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-phone"></i></label>
                            <input type="text" name="PhoneNumber" id="PhoneNumber" placeholder="Telefon Numarası" />
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="Password" id="pass" placeholder="Şifre" />
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="Re_Password" id="re_pass" placeholder="Şifre Tekrar" />
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label style="margin:0 0 5px 25px;">Topluluk Üyesi/Öğrenci</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Role" id="userType1" value="0" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label style="margin:0 0 5px 25px;">Katılımcı</label>
                                <div class="form-check ml-3">
                                    <input class="form-check-input" type="radio" name="Role" id="userType2" value="1" required>
                                </div>
                            </div>
                        </div>




                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span><a href="#" class="term-service">Kullanım kılavuzunu okudum ve kabul ediyorum.Terms of service</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Kayıt Ol" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="~/assets/img/signup-image.jpg" alt="sing up image"></figure>
                    <a href="#" class="signup-image-link">Zaten bir hesabım var..</a>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- JS -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/main.js"></script>