@model List<FinderWebApp.Models.ViewModels.Community.CommunityViewModel>

<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Topluluklar</h2>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Breadcrumbs -->

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list mt-3">
            @foreach (var item in Model.OrderBy(x => x.CommunityName))
            {
                <div class="col-xl-4 col-md-6">
                    <a @* href="@Url.RouteUrl("ShowEventRoute",new{id = item.EventId})" *@>
                        <article>
                            <div class="post-img">
                                <img src="~/files/CommunityImages/@item.CommunityImage" alt="" class="img-fluid">
                            </div>
                            <h2 class="title">
                                <a href="#">@item.CommunityName</a>
                            </h2>
                            <div class="d-flex align-items-center">
                                <div class="post-meta">
                                    <p class="post-date">
                                        @item.CreatedDate
                                    </p>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            }
        </div>
    </div>
</section>