
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Topluluk İşlemleri</h2>
                    @* <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p> *@
                </div>
            </div>
        </div>
    </div>
</div><!-- End Breadcrumbs -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list">

            <div class="col-xl-6 col-md-6">
                <article>

                    <div class="post-img">
                        <img src="~/assets/img/community.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="title" style="text-align:center;">
                        <a href="@Url.RouteUrl("CommunitiesRoute")">Topluluklar</a>
                    </h2>

                </article>
            </div><!-- End post list item -->

            <div class="col-xl-6 col-md-6">
                <article>

                    <div class="post-img">
                        <img src="~/assets/img/createcommunity.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="title" style="text-align:center;">
                        <a href="@Url.RouteUrl("CreateCommunityRoute")">Topluluk Oluştur</a>
                    </h2>

                </article>
            </div><!-- End post list item -->
        </div>
    </div>
</section>